html {
    background: url('img/space.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    text-align: center;
    color: white;
}

h1 {
    font-family: 'Lobster', sans-serif;
}

#game {
    background: #000114;
    border: 1px dashed white;
}



#playersScore {
    width: 300px;
    margin: 20px auto;
    background: #fafafa;
    box-sizing: border-box;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

#playersScore thead {
    border: 1px solid #222;
    border-right: 0;
    background: #333;
}

#playersScore thead tr th {
    color: #fff;
    padding: 4px;
    border-right: 1px solid #222;
}

#playersScore {
    border-left: 1px solid #ccc;
}

#playersScore tr {
    border-bottom: 1px solid #ccc;
}

#playersScore tr td {
    padding: 4px;
    border-right: 1px solid #ccc;
}